@import '../../index.scss';



@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NewestUpdate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 40vh;
  flex-direction: column;
  color:$color-primary;

  &-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 60%;
      background-color: $background-primary;
      height: 100%;

      

      &_title {
        font-size: 2rem;
        border-bottom: 2px solid $background-thirdy;
        padding: 20px;
      }

      &-newestChap {
        position: relative;
        width: 100%;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px 0;

      &_Chap {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 8.4vh;
        color: $color-primary;
        font-weight: bolder;
        font-size: 1.3rem;
        padding:2px 2px 2px 2px;
        cursor: pointer;
        box-sizing: border-box;
        

        & > * {
          position: relative;
          width: 20%;
          display: flex;
          justify-content: center;
          z-index: 2;
        }
        &_manwhaName {
          width: 300px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          height: 10px;
          background: $background-secondary;
          transition: 0.1s ease-out;
        }

        &::before {
        position: absolute;
        inset: 0;
        background-color: $background-secondary;
        z-index: 1;
        right: 100%;
        transition-delay: 0s;
        height: 4px;
        }

        &::after {
          bottom: 0;
          left: 100%;
          right: 0;
          transition-delay: 0.2s;
          height: 4px;
        }

        .border-right,
        .border-left {
          position: absolute;
          background: $background-secondary;
          z-index: 1;
          transition: 0.1s ease-out;
          
        }

        .border-right {
          width: 4px;
          top: 0;
          bottom: 100%;
          right: 0;
          transition-delay: 0.1s;
          z-index: 2;
        }

        .border-left {
          width: 4px;
          top: 100%;
          bottom: 0;
          left: 0;
          transition-delay: 0.3s;
        }

        // hover animate in (Top → Right → Bottom → Left)
        &:hover::before {
          right: 0;
        }

        &:hover .border-right {
          bottom: 0;
        }

        &:hover::after {
          left: 0;
        }

        &:hover .border-left {
          top: 0;
        }

        // unhover animate out (Left → Bottom → Right → Top)
        &:not(:hover) .border-left {
          transition-delay: 0s;
        }

        &:not(:hover)::after {
          transition-delay: 0.1s;
        }

        &:not(:hover) .border-right {
          transition-delay: 0.2s;
        }

        &:not(:hover)::before {
          transition-delay: 0.3s;
        }

        &_image {
          width: 100%;
          height: 100%;
          position: absolute;
          background-size: cover;
          background-position: center;
          z-index: 0;
        }
        & .borderLine {
          position: absolute;
          border:4px solid $color-primary;
          width: 100%;
          height: 100%;
          z-index: 0;
          box-sizing: border-box;
        }
      }

      }

  } 
}

@media (max-width: 1120px) {
  .NewestUpdate{
    &-container {
      width: 90%;

    }
  }

}


@media (max-width: 1120px) {
  .NewestUpdate{
    &-container {
      width: 90%;

    }
  }

}

@media (max-width: 750px) {
  .NewestUpdate{
    &-container {
      width: 100%;
      &_title {
        font-size: 1.5rem;
      }
      &-newestChap {
        &_Chap {
          height: 20vh;
          flex-direction: column;
          font-size: 1rem;
            &_manwhaName {
              width: 300px;
              font-size: 1.2rem;

            }
            &_chapter {
              width: 200px;

            }
            &_timeStamps {
              width: 200px;

            }
          }
      }
    }
  }

}

