@import '../../index.scss';


.scrollChapter {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  min-height: 70vh;
  flex-direction: column;
  color: $color-primary;
  position:relative;
  &-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
    &_title {
      border-bottom:1px solid $color-secondary;
      box-sizing: border-box;
      padding: 30px;
      width: 100%;
    }
    &_chapterButton {
      display: flex;
      justify-content: center;
      gap:5%;
      width: 100%;



      & > div {
        background-color: $background-thirdy;
        border-radius: 10px;
        width: 40%;
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        overflow: hidden;
        -webkit-animation: bounce-top 1s both;
        animation: bounce-top 1s both;
        animation-delay: var(--delay);

        &::before,
        &::after {
          content: '';
          position: absolute;
          height: 10px;
          background: $background-secondary;
          transition: 0.1s ease-out;
        }

        &::before {
        position: absolute;
        inset: 0;
        background-color: $background-secondary;
        z-index: 1;
        right: 100%;
        transition-delay: 0s;
        height: 4px;
        }

        &::after {
          bottom: 0;
          left: 100%;
          right: 0;
          transition-delay: 0.2s;
          height: 4px;
        }

        .border-right,
        .border-left {
          position: absolute;
          background: $background-secondary;
          z-index: 1;
          transition: 0.1s ease-out;
          
        }

        .border-right {
          width: 4px;
          height: 0;
          top: 0;
          bottom: 100%;
          right: 0;
          transition-delay: 0.1s;
          z-index: 1;
        }

        .border-left {
          width: 4px;
          top: 100%;
          bottom: 0;
          left: 0;
          transition-delay: 0.3s;
        }

        // hover animate in (Top → Right → Bottom → Left)
        &:hover::before {
          right: 0;
        }

        &:hover .border-right {
          bottom: 0;
          height: 100%;
        }

        &:hover::after {
          left: 0;
        }

        &:hover .border-left {
          top: 0;
        }

        // unhover animate out (Left → Bottom → Right → Top)
        &:not(:hover) .border-left {
          transition-delay: 0s;
        }

        &:not(:hover)::after {
          transition-delay: 0.1s;
        }

        &:not(:hover) .border-right {
          transition-delay: 0.2s;
        }

        &:not(:hover)::before {
          transition-delay: 0.3s;
        }

      }

    }
    &_searchBox{
      width: 84.7%;
      height: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      & > input {
        width: 100%;
        height: 100%;
        background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), 0.7);
        border:5px solid $background-secondary;
        color:$color-primary;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
      }
    }
    &_allChapters {
      width: 84.7%;
      height: 70vh;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      overflow-y: auto;
      overflow-x: hidden;
    
      &::-webkit-scrollbar {
        width: 8px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: $background-secondary;
        border-radius: 4px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    
      & > div {
        height: 70px;
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid $background-primary;
        border-left: 6px solid $background-secondary;
        border-radius: 5px;
      
        background: linear-gradient(to right, rgba(255, 255, 255, 0.082) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background-position 0.1s ease;
      
        &:hover {
          background-position: left bottom;
        }
      }
      
    }
    
    
  }
  }

  
@media (max-width: 650px) {
  .scrollChapter {
    width: 100%;
    min-height: 100vh;
    &-container {
      &_title {
        text-align: center;
      }

      
      
    }
  }

}

@media (max-width: 480px) {
  .scrollChapter {
    &-container {
      &_chapterButton {
        display: flex;
        justify-content: center;
        gap:5%;
        width: 100%;
        & > div {
          background-color: $background-thirdy;
          border-radius: 10px;
          width: 40%;
          height: 12vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
        }
      }

      
      
    }
  }

}
